<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICurrencyConverter" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/CurrencyConverter" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_ICurrencyConverter" contract="ICurrencyConverter"
          name="WSHttpBinding_ICurrencyConverter">
        <identity>
          <servicePrincipalName value="host/Stewie.kainos.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>